STOCK_URL=
GOOGLE_GENERATIVE_AI_API_KEY=
GROQ_API_KEY=
PG_ADMIN_EMAIL=admin@test.com
PG_ADMIN_PASSWORD=test
POSTGRES_USER=dev_user
POSTGRES_PASSWORD=dev_password
JOB_KEY=test_key
ANGEL_ONE_API_KEY=123
ANGEL_ONE_CLIENT_ID=123
ANGEL_ONE_APP_PASSWORD=123
ANGEL_ONE_SECRET_KEY=123
ANGEL_ONE_CLIENT_SECRET=123123